html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  display: flex;
}

.main_container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  top: 135px;
  left: 0;
  width: 225px;
  height: 100%;
  background: #629ad3;
  transition: all 0.3s ease;
  z-index: 1;
}

.wrapper.active .sidebar {
  width: 80px;
}

.content {
  flex: 1;
  margin-left: 30px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.wrapper.active .content {
  margin-left: 80px;
}

.top_navbar {
  background: #91C8E4;
  height: 60px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 1;
}

.top_navbar .hamburger {
  width: 80px;
  background: #629ad3;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner {
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
  color: #0f3249;
}

.top_navbar .menu {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo {
  color: #0f3249;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main_container .container {
  margin-top: 50px;
  padding: 30px;
}

#footer {
  background-color: #91C8E4;
  padding: 20px;
  color: white;
  text-align: center;
}
